/* Write your CSS code here */
.container {
  display: flex;
  align-items: center;
  border: 2px solid rgb(224, 219, 219);
  padding: 12px;
  border-radius: 10px;
  margin: 30px;
}
.image {
  width: 400px;
  margin-right: 25px;
  border-radius: 10px;
}
@media (max-width: 576px) {
  .image {
    width: 250px;
  }
}
.avatar-image {
  width: 60px;
  border-radius: 50px;
  margin-right: 10px;
}
.avatar-container {
  display: flex;
}
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
.linkItem {
  text-decoration: none;
  color: black;
}
